.miscellaneous {
    background-color: #11565D ;
    margin: 0 auto 0 auto;
    min-height: 90vh;
    padding: 20px;
    width: calc(30% - 0px);
    text-align: center;
    img {
        width: 100%;
    }
}