.project1 {
    background-color: black;
    padding: 20px;
    width: 30%;
    min-height: 90vh ;
    text-align: left;
    color: white;
    
    .aboutProject1 {
        text-align: justify;
    }

    .project1-prototype {
        width: 100%;
    }
    
}