.project1 {
    background-color: black;
    padding: 20px;
    width: 30%;
    min-height: 90vh;
    text-align: left;
    color: white;

    .aboutProject1 {
        text-align: justify;
    }

    .project1-prototype {
        width: 100%;
    }

}

@media (max-width: 1121px) {
    .project1 {
        width: 50%;
        margin-right: 50%;
    }
}

@media (max-width: 677px) {
    .project1 {
        width: 60%;
        margin-right: 40%;
    }
}

@media (max-width: 565px) {
    .project1 {
        width: 70%;
        margin-right: 30%;
    }
}

@media (max-width: 482px) {
    .project1 {

        width: 100%;
        margin-right: 0%;
    }
}



@media (max-width: 360px) {

    .project1 {
        width: 100vw;
        background-color: black;

    }

}