.project1 {
    background-color: black;
    padding: 20px;
    width: 30%;
    min-height: 90vh ;
    text-align: left;
    color: white;
    
    .aboutProject1 {
        text-align: justify;
    }

    .project1-prototype {
        width: 100%;
    }
    
}


@media (max-width: 360px) {

    .project1 {
        width: 100vw;
        background-color: black;

    }

}

@media (max-width: 428px) {
    .project1 {
      
      width: 100%;
      
    }
  }
  