$bg-color: #fff;
$text-color: #333;
header {
  transition: background-color 0.5s ease-in-out, color 0.5s ease;
  display: flex;
  flex-direction: column;
}


.night-mode {
  background-color: #333;
  color: #fff;
  transition: background-color 0.5s ease-in-out, color 0.5s ease;

}

.night-mode-btn {
  align-self: flex-end;
  width: 200px;
  margin-right: 20px;
  border-radius: 10px;
  text-transform: uppercase;
  background-color: #fff;
  color: #333;
  border: 2px solid greenyellow;
  padding: 10px 20px;
  cursor: pointer;
}
