:root {
  --main-red: #be3110;
  --main-clear: #b0cbce;
  --main-blueL: #3f787e;
  --main-blue: #11565d;
  --main-grayL: #292a2a;
  --main-gray: #151718;
  --main-dark: #080d10;
}
  .night-mode {
    .projects-grid .project {
      background-color: var(--main-gray);
      .button {
        background-color: var(--main-dark);
        -webkit-box-shadow: 1px 0px 12px -4px var(--main-clear);
          -moz-box-shadow: 1px 0px 12px -4px var(--main-clear);
          box-shadow: 1px 0px 12px -4px var(--main-clear);
      }
      .sectionOne {
        .deployLink {
          background-color: var(--main-dark);
          -webkit-box-shadow: 1px 0px 12px -4px var(--main-clear);
            -moz-box-shadow: 1px 0px 12px -4px var(--main-clear);
            box-shadow: 1px 0px 12px -4px var(--main-clear);
        }
        .details {
          background-color: var(--main-grayL);
        }
      }
      .sectionTwo {
        .projectType {
          background-color: var(--main-dark);
        }
        .describe {
          background-color: var(--main-dark);
        }
        .tech {
          background-color: var(--main-dark);
          .api {
            filter:invert(1) ;
          }
        }
      }
    }
  }
  
  .projects-grid {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    gap: 40px;
    padding: 16px 0px 24px 0px;

    .project{
      height: 90vh;
      width: 80vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      border-radius: 24px;
      padding: 16px 24px;
      background-color: var(--main-blueL);
      a {
        text-decoration: none;
        color: aqua;
      }
      .sections {
        width: calc(50% - 32px);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
      .button {
        width: 80%;
        padding: 16px 8px;
        background-color: var(--main-blue);
        border-radius: 8px;
        transition: all ease-in-out 800ms;
        border: 2px solid var(--main-clear);
      }
      .button:hover {
        background-color: var(--main-dark);
        transition: all ease-in-out 800ms;
        background-color: var(--main-dark);
          color: white;
          -webkit-box-shadow: 1px 0px 28px -4px var(--main-clear);
          -moz-box-shadow: 1px 0px 28px -4px var(--main-clear);
          box-shadow: 1px 0px 28px -4px var(--main-clear);
      }
      .sectionOne {
        .project-name {
          text-transform: uppercase;
        }
        .project-image{
          width: 52%;
        }
       .details {
          padding: 16px;
          width: 100%;
          border-radius: 8px;
          background-color: var(--main-clear);
          text-align: justify;
       }
      }
      .sectionTwo {
        .textContainer {
          display: flex;
          justify-content: space-between;
          padding: 16px;
          width: 100%;
          border-radius: 8px;
          background-color: var(--main-blue);
          font-weight: bold;

        }
        .projectType {
          text-transform: uppercase;
        }
        .describe {
          font-size: 13px;
        }
        .tech {
          width: 100%;
          height: 180px;
          padding: 0 5px;
          background-color: var(--main-blue);
          border-radius: 8px;
          display: flex;
          flex-direction: column;
          justify-content: center;

        }
        .tech-badges {
          display: flex;
          justify-content: space-around;
          
          span {
            width: 50px;
            height: 50px;
            font-size: 50px;
          }

        }
        .repository {
          align-self: end;
          padding: 16px;
        }
      }
    }
  }

  @media (max-width: 800px) {
    .projects-grid {
      padding: 5px;
      .project {
        height: auto;
        width: 100vw;
        .sections {
          height: 90vw;
        }

      }
    }
  }
  @media (max-width: 650px) {
    .projects-grid {
      .project {

        .sections {
          height: 110vw;
        }

      }
    }
  }
  @media (max-width: 550px) {
    .projects-grid {
      .project {
        // padding: 0;
        .sections {
          height: 100vh;
        }

      }
    }
  }
  @media (max-width: 550px) {
    .projects-grid {
      .project {
        // padding: 0;
        .sections {
          height: auto;
        }

      }
    }
  }
  @media (max-width: 465px) {
    .projects-grid {
      .project {
        flex-direction: column;
        width: 100%;
        .sections {
          width: 100%;
        }
      }
    }
  }
  @media (max-width: 380px) {
    .projects-grid {
      .project {

        .sections {
          
        }
        .sectionTwo {
          .tech-badges {
            span {
              width: 30px;
              height: 30px;
              font-size: 30px;
            }
          }
        }
      }
    }
  }