:root {
    --main-white: #f0f0f0;
    --main-red: #be3110;
    --main-blue: #11565d;
    --main-gray: #303a41;
}

a {
    text-decoration: none;
    color: white;
}
  

.projects {
    background-color: #11565D ;
    margin: 0 auto 0 auto;
    min-height: 90vh;
    padding: 20px;
    width: 50%;
    text-align: center;
    h3 {
        text-align: left;
    }

    // img {
    //     width: 100%;
    // }

    .projects-section {
        text-align: center;
        // padding: 10rem 2rem;
        background: var(--main-blue);

        .projects-section-header {
            max-width: 100%;
        }

        .projects-grid {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            max-width: 1280px;
            margin: 0 auto 4rem auto;
            
    
            .project {
                background: var(--main-gray);
                box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
                border-radius: 5px 5px 20px 20px;
                border: 2px solid white;
                transition: all ease-in-out 0.8s;
                padding: 10px;
                margin: 10px;
                width: calc(50% - 20px);
                display: flex;
                flex-wrap: nowrap;
                flex-direction: column;
                justify-content: space-between;

                .project-header {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    background-color: black;
                    height: calc(50% - 10px);
                    border-radius: 5px 5px 0 0;
                    padding: 10px;
    
                    .project-title {
                        color: white;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        text-align: left;
                        width: 100%;
                        height: 100%;
                        font-size: 1rem;
                        .repository {
                            color: greenyellow;
                            font-size: 20px;
                        }
                        .repository:hover {
                            text-shadow: 1px 1px 2px greenyellow;
                        }
                    }
    
                    .tech-badge-card {
                        font-size: 30px;
                        color: black;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        height: 100%;
                        .iconBall {
                            background-color: white;
                            border-radius: 50%;
                            padding: 10px;
                            max-width: 50px;
                            max-height: 50px;
                        }
                    }
                }

                .deployLink {
                    
                    transition: 0.3s ease-in-out;
                    height: calc(50% - 20px);
                    width: calc(100% - 20px);
                    margin: auto;
                    border-radius: 0 0 20px 20px;
                    padding: 0;
                    position: relative;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .project-image {
                        width: calc(100% - 30px);
                        height: calc(100% - 30px);
                        position: relative;
                        transition: 0.3s ease-in-out;
                        border-radius: 0 0 20px 20px;
                        margin-bottom: 20px;
                    }
                } 

                .deployLink:hover::before {
                    content: "";
                    background-image: conic-gradient(
                        greenyellow 20deg,
                        transparent 120deg
                    );
                    width: 150%;
                    height: 150%;
                    position: absolute;
                    animation: rotate 2s linear infinite;
                }

                .deployLink::after {
                    width: calc(90% - 30px);
                    height: calc(90% - 30px);
                    position: absolute;
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: inset 20px 20px 20px greenyellow;

                }
                @keyframes rotate {
                    0% {
                        transform: rotate(0deg);
                    }
                    100% {
                        transform: rotate(-360deg)
                    }
                }
                
            }

            .project:hover {
                border-color: greenyellow;
                box-shadow: 1px 1px 10px greenyellow;
            }
        }
    }
}
@media (max-width: 1433px) {
   .miscellaneous {

    .projects-section {

        .projects-grid {

            .project {
                
                .project-header {

                    .project-title {
                        font-size: 15px;
                    }
                    .tech-badge-card {

                        .iconBall{
                            
                        }
                    }
                }
                .deployLink {
                    
                    .project-image {

                    }
                }
                
            }
        }
    }
   } 
}


@media (max-width: 1405px) {
    .miscellaneous {
        width: 90%;
      
      margin-left: auto;
      .projects-section{

        .projects-grid {

            .project {
                width: calc(50% - 20px);
                

                .project-header {

                    .project-title {

                    }

                    .tech-badge-card {

                        .iconBall {
                            max-width: 50px;
                            max-height: 50px;

                        }
                    }
                }

                .deployLink{
                    .project-image {
                        
                    }
                }
                
            }
            .tech-badge-card {
                font-size: 30px;
            }
        }
      }
    }
}

@media (max-width: 800px) {
    .miscellaneous {      
      width: 100%;
      margin-left: 0;
      .projects-section{

        .projects-grid {

            .project {
                width: calc(100% - 20px);

                .deployLink {

                    .project-image {
                        
                    }
                }
            }
        }
      }
    }
}