:root {
  --main-red: #be3110;
  --main-clear: #b0cbce;
  --main-blueL: #3f787e;
  --main-blue: #11565d;
  --main-grayL: #292a2a;
  --main-gray: #151718;
  --main-dark: #080d10;
}
  .night-mode {
    .projects-grid .project {
      background-color: var(--main-gray);
      .button {
        background-color: var(--main-dark);
        -webkit-box-shadow: 1px 0px 12px -4px var(--main-clear);
          -moz-box-shadow: 1px 0px 12px -4px var(--main-clear);
          box-shadow: 1px 0px 12px -4px var(--main-clear);
      }
      .sectionOne {
        .describe {
          background-color: var(--main-dark);
        }
        .deployLink {
          background-color: var(--main-dark);
          -webkit-box-shadow: 1px 0px 12px -4px var(--main-clear);
            -moz-box-shadow: 1px 0px 12px -4px var(--main-clear);
            box-shadow: 1px 0px 12px -4px var(--main-clear);
        }
        
      }
      .sectionTwo {
        .projectType {
          background-color: var(--main-dark);
        }

        .tech {
          background-color: var(--main-dark);
          .api {
            filter:invert(1) ;
          }
        }
        .details {
          background-color: var(--main-grayL);
        }
      }
    }
  }
  
  .projects-grid {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
    padding: 16px 0px 24px 0px;

    .project{
      width: 80vw;
      display: flex;
      // flex-direction: row;
      justify-content: space-between;
      align-items: end;
      margin: 0 auto;
      border-radius: 24px;
      padding: 16px 24px;
      background-color: var(--main-blueL);
      a {
        text-decoration: none;
        color: aqua;
      }
      .sections {
        width: calc(50% - 24px);
        
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
      .button {
        width: 80%;
        margin: 8px;
        padding: 8px 8px;
        background-color: var(--main-blue);
        border-radius: 8px;
        transition: all ease-in-out 800ms;
        border: 2px solid var(--main-clear);
      }
      .button:hover {
        background-color: var(--main-dark);
        transition: all ease-in-out 800ms;
        background-color: var(--main-dark);
          color: white;
          -webkit-box-shadow: 1px 0px 28px -4px var(--main-clear);
          -moz-box-shadow: 1px 0px 28px -4px var(--main-clear);
          box-shadow: 1px 0px 28px -4px var(--main-clear);
      }
      .textContainer {
        display: flex;
        justify-content: space-between;
        padding: 16px 8px;
        width: 100%;
        border-radius: 8px;
        background-color: var(--main-blue);
        font-weight: bold;

      }
      .sectionOne {
        .project-name {
          text-transform: uppercase;
        }
        .describe {
          font-size: 16px;
          min-height: 100px;
          span {
            margin: auto 8px;
            // width: 100%;
          }
        }
        
        .project-image{
          // width: 80%;
          width: 290px;
          margin: auto;
          height: 350px;;

        }
       
      }
      .sectionTwo {
        height: 100%;
        // justify-content: space-evenly;
        // display: flex;
      

        .projectType {
          text-transform: uppercase;
        }

        .tech {
          width: 100%;
          min-height: 160px;
          padding: 0 4px;
          background-color: var(--main-blue);
          border-radius: 8px;
          display: flex;
          flex-direction: column;
          justify-content: center;

        }
        .tech-badges {
          display: flex;
          justify-content: space-around;
          // height: 100%;
          
          span {
            width: 50px;
            height: 50px;
            font-size: 50px;
          }

        }
        .details {
          margin: 16px auto;
          padding: 8px 16px;
          width: 100%;
          min-height: 240px;
          border-radius: 8px;
          background-color: var(--main-clear);
          text-align: justify;
          display: flex;
          p {
            margin: auto 0;
          }
       }
        .repository {
          align-self: end;
          padding: 16px;
        }
      }
    }
  }

  @media (max-width: 843px) {
    .projects-grid {
      padding: 0px;
      .project {
        // height: auto;
        // width: 100vw;
        .sections {
          // height: 90vw;
        }

      }
    }
  }
  @media (max-width: 812px) {
    .projects-grid {
      padding: 2px;
      .project {
        // height: auto;
        width: 90vw;

        .sections {
        }

      }
    }
  }
  @media (max-width: 720px) {
    .projects-grid {
      .project {

        .sections {
          .describe {
            // padding: 0 5%;
            // height: auto;
          }
        }
        .textContainer {
          font-size: 16px;
        }
        .sectionOne {
          .project-image {
            width: 240px;
            height: 290px;
          }
        }
      }
    }
  }
  @media (max-width: 650px) {
    .projects-grid {
      gap: 16px;
      padding: 8px 0;
      margin: auto;
      .project {
        padding: 8px 16px;
        margin: auto;
        .sections {
        width: calc(50% - 16px);
          
        }
        .sectionOne {
          // height: 110vw;
          .project-name {
            font-size: 16px;
          }
          

        }
        .button {
          font-size: 16px;
        }
        .sectionTwo {
          .tech {
            height: 120px;
            span {
              font-size: 40px;
            }
          }
        }

      }
    }
  }

  @media (max-width: 580px) {
    .projects-grid {
      .project {
        flex-direction: column;
        .sections {
          width: 100%;
          height: auto;
          justify-content: center;
        }
        .sectionOne {
          // height: 110vw;
          .project-name {
            font-size: 22px;
          }
          .project-image {
            width: 290px;
            height: 350px;
          }
        }
      }
    }
  }
  @media (max-width: 420px) {
    .projects-grid {
      .project {
        padding: 8px;
        .sections {
        }
        .sectionTwo {
          .tech-badges {
            span {
              width: 30px;
              height: 30px;
              font-size: 30px;
            }
          }
        }
      }
    }
  }