:root {
  --main-red: #be3110;
  --main-blue: #11565d;
  --main-grayL: #292a2a;
  --main-gray: #151718;
  --main-dark: #080d10;
}
footer {
    background-color: #282C34;
    color: white;
    .social-links {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        padding: 20px 0 20px 0;
        .social-media {
            text-decoration: none;
            color: greenyellow;
            width: calc(20% - 40px);
            height: 100px;
            padding: 5px;
            border: 1px solid greenyellow;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            transition: all ease-in-out .8s;
            .iconeLink {
                font-size: 30px;
            }
        }
        .social-media:hover {
            background-color: black;
            color: white;
            -webkit-box-shadow: 1px 0px 28px -4px rgba(76,199,92,1);
            -moz-box-shadow: 1px 0px 28px -4px rgba(76,199,92,1);
            box-shadow: 1px 0px 28px -4px rgba(76,199,92,1);
        }
    }
    .footerAnimation {
        background-color: black;
        width: 100%;
        .scene {
            width: 300px;
            height: 300px;
            margin: auto;
            perspective: 500px;
          }
          .earth, .moon {
            position: absolute;
            width: 200px;
            height: 200px;
            
            // border-radius: 50%;
          }
          .earth {
            top: 50px;
            left: 150px;
            animation: spin 20s linear infinite;
          }
          .moon {
            // background: radial-gradient(circle, grey, black);
            transition: all ease-in-out 800ms;
            width: 50px;
            height: 50px;
            top: 100px;
            left: 250px;
            animation: orbit 5s linear infinite;
          }
          
          @keyframes spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(1turn); }
          }
          @keyframes orbit {
            0% { transform: translateZ(0) translateX(250px) scale(1); 
              opacity: 1;
            }
            25% { transform: translateZ(100px) translateX(-150px) scale(2.5); 
              opacity: 1;
            }
            50% { 
              transform: translateZ(0) translateX(-250px) scale(1.8);
              opacity: 1;
              transition-timing-function: cubic-bezier(0.67, 0.1, 0.63, 0.95);
            }
            75% { 
              transform: translateZ(-100px) translateX(-150px) scale(0.1); 
              opacity: 0.1;
            }  
            100% {     
              transform: translateZ(0) translateX(250px) scale(0.9); 
              opacity: 0.2;
              transition-timing-function: cubic-bezier(0.67, 0.1, 0.63, 0.95); 
            }
          }
          
    }
    
}

@keyframes orbit {
    0% { transform: translateZ(0) translateX(250px) scale(1); 
      opacity: 1;
    }
    25% { transform: translateZ(100px) translateX(-150px) scale(2.5); 
      opacity: 1;
    }
    50% { 
      transform: translateZ(0) translateX(-250px) scale(1.8);
      opacity: 1;
      transition-timing-function: cubic-bezier(0.67, 0.1, 0.63, 0.95);
    }
    75% { 
      transform: translateZ(-100px) translateX(-150px) scale(0.1); 
      opacity: 0.1;
    }  
    100% {     
      transform: translateZ(0) translateX(250px) scale(0.9); 
      opacity: 0.2;
      transition-timing-function: cubic-bezier(0.67, 0.1, 0.63, 0.95); 
    }
  }

  
 
  .night-mode {
    .projects-grid .project {
      background-color: var(--main-gray);
      .sectionTwo {
        .projectType {
          background-color: var(--main-dark);
        }
        .describe {
          background-color: var(--main-dark);
        }
      }
    }
  }


 
  .night-mode {
    footer {
      background-color: var(--main-dark);
      
    }
  }
    

@media (max-width: 798px) {
    footer {
        h3 {
        }
        .social-links {
            .social-media {
              padding: 10px;
                .iconeLink {
                  margin: auto;
                }
                .social-link-name {
                  display: none;
                }
            }
        }
    }
}
@media (max-width: 478px) {
    footer {
      padding: 0;
        h3 {
            font-size: 15px;
        }
        .social-links {
          margin: 0;
            .social-media {
                border: none;
                justify-content: center;
                .iconeLink {

                }
                .social-link-name {
                    font-size: 12px;
                    margin-top: 0;
                }
            }
        }
    }
}