footer {
    background-color: #282C34;
    color: white;
    .social-links {
        
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        padding: 20px 0 20px 0;

        
        .social-media {
            text-decoration: none;
            color: greenyellow;
            width: calc(20% - 40px);
            height: 100px;
            padding: 5px;
            border: 1px solid greenyellow;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            transition: all ease-in-out .8s;

            .iconeLink {
                font-size: 30px;

            }
        }
        .social-media:hover {
            background-color: black;
            color: white;
            -webkit-box-shadow: 1px 0px 28px -4px rgba(76,199,92,1);
            -moz-box-shadow: 1px 0px 28px -4px rgba(76,199,92,1);
            box-shadow: 1px 0px 28px -4px rgba(76,199,92,1);

        }
    }
}

@media (max-width: 428px) {
    footer {
        h3 {
            font-size: 15px;
        }
      
        .social-links {

            .social-media {
                border: none;
                
                justify-content: center;
                
                .iconeLink {
                    border: 1px solid greenyellow;
                    padding: 20px;
                    width: 100%;

                    border-radius: 50%;
                }


                .social-link-name {
                    font-size: 12px;
                    margin-top: 0;
                    // display: none;
                }
            }
        }
    }
}