.skills {
    background-color: black;
    color: white;
    margin-left: 70%;
    padding: 20px;
    width: 30%;
    min-height: 90vh;
    text-align: left;
    .abilities {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 5px solid #282C34;
            padding: 5px;
            margin-bottom: 5px;
            .icone {
                font-size: 22px;
                color: greenyellow;
            }
            span {
                
                padding: 0 10px 0 10px;
                text-align: left;
                
                align-content: flex-start;
            }
        }
    }
}
@media (max-width: 1121px) {
    .skills {      
      width: 50%;
      margin-left:50%;
    }
}
@media (max-width: 677px) {
    .skills {      
      width: 60%;
      margin-left: 40%;
    }
}
@media (max-width: 565px) {
    .skills {      
      width: 70%;
      margin-left: 30%;
    }
}
@media (max-width: 482px) {
    .skills {      
      width: 100%;
      margin-left: 0;
    }
}