:root {
    --main-red: #be3110;
    --main-clear: #b0cbce;
    --main-blueL: #3f787e;
    --main-blue: #11565d;
    --main-grayL: #292a2a;
    --main-gray: #151718;
    --main-dark: #080d10;
  }
  .night-mode {
    .skills {
      background-color: var(--main-dark);
      color: var(--main-clear);

    }
  }
  

.skills {
    background-color: var(--main-blue);
    color: var(--main-dark);
    margin-left: 70%;
    padding: 20px;
    width: 30%;
    min-height: 90vh;
    text-align: left;
    .abilities {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 5px solid #282C34;
            padding: 5px;
            margin-bottom: 5px;
            .icone {
                font-size: 22px;
                  color: var(--main-blueL);
            }
            span {
                
                padding: 0 10px 0 10px;
                text-align: left;
                
                align-content: flex-start;
            }
        }
    }
}
@media (max-width: 1121px) {
    .skills {      
      width: 50%;
      margin-left:50%;
    }
}
@media (max-width: 677px) {
    .skills {      
      width: 60%;
      margin-left: 40%;
    }
}
@media (max-width: 565px) {
    .skills {      
      width: 85%;
      margin-left: 15%;
    }
}
@media (max-width: 482px) {
    .skills {      
      width: 100%;
      margin-left: 0;
    }
}